<div class="jumbotron_small">
  <h3 class="jumbotron jumbotron_small center background_profile background_size_cover background_bottom color_f1">{{ctrl.first_name}} {{ctrl.last_name}}</h3>
</div>
<div>
  <div class="container frontpage_why padding_top">
    <h4>Amount of Entries: {{ctrl.entries.length}}</h4>

    <div ng-hide="ctrl.is_entries">
      <p>
        You have no Entries
      </p>
    </div>
    <div ng-show="ctrl.is_entries">
    <table class="products-list table table-front">
        <tr>
          <th>Date</th>
          <th>Duration</th>
          <th>Type of Practice</th>
          <th>How heavy was the practice?</th>
          <th>Comment</th>
          <th></th>
        </tr>
        <tr ng-repeat="entry in ctrl.entries | orderBy: 'date':true track by $index">
          <td>{{entry.date | limitTo: 10}}</td>
          <td>{{entry.time}}</td>
          <td>{{entry.type}}</td>
          <td>{{entry.heavy}}</td>
          <td>{{entry.comment}}</td>
          <td><md-button class="btn btn-sm frontpage_btn margin0 border_weak right right_margin" ng-click="ctrl.addComment(entry)">Add Comment</md-button></td>
        </tr>
      </table>
    </div>
    <md-button class="btn btn-sm frontpage_btn border_weak" ng-click="ctrl.getBack()">Back to All Entries</md-button>
    <md-button class="btn btn-sm frontpage_btn border_weak" ng-click="ctrl.getBackTeam()">Back to Manage Team</md-button>
  </div>
</div>