<div class="jumbotron_small">
  <h3 class="jumbotron jumbotron_small center background_media color_f1 background_size_cover">{{ctrl.video.title}}</h3>
</div>
<div class="container frontpage_why coach_first">
  <div class="center">
  <div class="products-list table center">
  	<youtube-video class="margins_auto" video-url="ctrl.video.youtube_id"></youtube-video>
  </div>
  <md-button class="btn btn-sm frontpage_btn border_weak" ng-click="ctrl.backToMedia()">Back to All Media</md-button>
  <md-button ng-click="ctrl.deleteVideo(ctrl.video)" class="btn btn-sm frontpage_btn bottom_of_ border_weak" type="submit">Delete</md-button>
  </div>
</div>
