<section id="player_sign_up" class="container sign_up_player min_width_min_height background_size_cover">
  <div class="login-page">
    <div id="main-content" class="auth main-content">    
        <div class="banner-wrapper registration-header">
          <h3 class="login_text">Sign-Up</h3>
        </div>
        <md-content class="transparent" layout-padding>
        <div>
          <form name="userForm" ng-submit="ctrl.signUp()">
            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                <label class="login_text">First Name</label>
                <input class="white_border_bottom login_text" name="first_name" type="text" ng-model="ctrl.first_name" required>
              </md-input-container>
            </div>
            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                <label class="login_text">Last Name</label>
                <input class="white_border_bottom login_text" name="last_name" type="text" ng-model="ctrl.last_name" required>
              </md-input-container>
            </div>
            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                <label class="login_text">Jersey Number</label>
                <input class="white_border_bottom login_text" name="number" type="text" ng-model="ctrl.number">
              </md-input-container>
            </div>
            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                <label class="login_text">Password</label>
                <input class="white_border_bottom login_text" name="password" type="password" ng-model="ctrl.password" required>
              </md-input-container>
            </div>
            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                <label class="login_text">Re-type Password</label>
                <input class="white_border_bottom login_text" name="password" type="password" ng-model="ctrl.repassword" required>
              </md-input-container>
            </div>
            <md-button type="submit" ng-disabled="!(userForm.password.$valid && userForm.first_name.$valid && userForm.last_name.$valid)" class="form-input btn stacked-input-box login-md-md-button login_text white_border">{{ctrl.register_btn}}</md-button>
            <md-button type="submit" class="form-input btn stacked-input-box login-md-md-button login_text white_border" ng-click="ctrl.goHome()"> {{ctrl.back_btn}} </md-button>
          </form>
        </div>
      </md-content>
    </div>
  </div>
</section>